@font-face {
    font-family: "Shabnam";
    src: url("./fonts/Shabnam-FD.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
    font-family: "Shabnam", Tahoma, Arial, sans-serif;
}

.container {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    /* border: 0.5px solid gray; */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 0 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 36px     
}

.login {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* margin-right: 10px; */
    color:#111111;
}


.logo .logo-image {
    display: flex;
    align-items: center;
}


.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    margin-left: 24rem;
}

.nav-links .active {
    text-decoration: none;
    color: #555555;
    padding-bottom: 8px 0;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-links .active:hover {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
    
}

.nav-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-left: 26px; */
}
    
.icons {
    color: #111111;
    height: 1.8rem;
    width: auto;
}

.btn-login {
    font-family: "Shabnam";
    font-weight: 500;
    font-size: 14px;
    height: 50px;
    padding: 10px 24px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #1a73e8;
    transition: 0.3s ease;
    color: #ffffff;
}

.btn-login:hover {
    background-color: #155cb4;
}

.logo-images {
    /* background-color: #ffc107; */
    color: white;
}


@media(max-width:1080px) {
   .container{
    max-width: 800px;
   } 
   .logo {
    gap: 1rem;
   }
   .nav-links {
    margin-left: auto;
    margin-right: 3rem;
   }
}

@media(max-width:860px) {
    .container{
     max-width: 600px;
     height: 50px;
     font-size: 12px;
    } 
    .logo {
     gap: 0.7rem;
    }
    .nav-links {
     margin-left: auto;
     gap: 0.8rem;
     margin-right: 1.5rem;
    }
    .btn-login {
        font-weight: 300;
    font-size: 10px;
    height: 30px;
    padding: 6px 10px;
    }
    .icons {
        height: 1.3rem;
    }
 }

 @media(max-width:860px) {
    .container{
     max-width: 480px;
     height: 40px;
     font-size: 10px;
    } 
    .logo {
        gap: 0.5rem;
       }
       .logo h1{
        font-size: 1rem;
       }
    .nav-links {
        margin-left: auto;
        gap: 0.6rem;
        margin-right: 1.2rem;
       }
       .btn-login {
        font-weight: 100;
    font-size: 10px;
    height: 24px;
    padding: 2px 8px;
    }
    .icons {
        height: 1.1rem;
    }
 }

 @media(max-width:512px) {
    .container{
     max-width: 380px;
     height: 35px;
     font-size: 8px;
    } 
    .logo {
        gap: 0.4rem;
       }
       .logo h1{
        font-size: 0.8rem;
       }
    .nav-links {
        margin-left: auto;
        gap: 0.4rem;
        margin-right: 0.8rem;
       }
    .btn-login {
        font-weight: 100 !important;
        font-size: 8px;
        height: 20px;
        padding: 2px 6px;
    }
    .icons {
        height: 0.9rem;
    }
 }

 @media(max-width:400px) {
    .container {
        max-width: 360px;
        height: 2rem;
    }
    .logo {
        gap: 0.3rem;
       }
       .logo h1{
        font-size: 0.7rem;
       }
    .icons {
        height: 0.6rem;
    }
    .btn-login {
        font-weight: 100 !important;
        font-size: 8px;
        height: 20px;
        padding: 1px 4px;
    }
 }

 @media(max-width:368px) {
    .container {
        max-width: 300px;
        height: 2rem;
    }
    .logo {
        gap: 0.3rem;
       }
       .logo h1{
        font-size: 0.7rem;
       }
    .icons {
        height: 0.6rem;
    }
    .btn-login {
       display: none;
    }
    .login {
        display: block;
        font-size: 8px;
        height: 20px;
        padding: 1px 4px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: #1a73e8;
        transition: 0.3s ease;
        color: #ffffff;
    }
 }